/* css/base/_general.css */
/* Importacion de las variables disponibles */

@import url(variables.css);

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--color-fondo); /* Se esta usando la variable de variables */
    color: var(--color-texto);
}
* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0; /*quita el margen superior de manera por defecto */
}

a {
    color: var(--color-verde-uabc); /* Color de los enlaces por defecto */
    text-decoration: none; /* Quita subrayado */
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%; /*Para que no se desborden las imagenes */
    height: auto;
    display: block;
}
