/* css/base/_general.css */

/* Importacion de las variables disponibles */
@import url(variables.css);

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif; 
  background-color: var(--color-fondo);
  color: var(--color-texto);
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  color: var(--color-verde-uabc); /* Asegura identidad */
  font-weight: 700; /* Negrita fuerte para jerarquía */
  letter-spacing: -0.5px; /* Un toque más compacto y moderno */
}

a {
  color: var(--color-verde-uabc);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
