:root {
  --color-verde-uabc: #006633;
  --color-dorado-uabc: #f9b233;
  --color-blanco: #ffffff;
}

/* HEADER PRINCIPAL */
.main-header {
  background-color: var(--color-verde-uabc);
  color: var(--color-blanco);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  border-bottom: 5px solid var(--color-dorado-uabc);
  flex-wrap: wrap; /* permite que los elementos bajen si no caben */
}

.main-header .logo img {
  height: 60px;
  width: auto;
}

/* titulo centrado */
.main-header .title {
  flex-grow: 1;
  text-align: center;
}

.main-header .title h1 {
  margin: 0;
  font-size: 1.3rem;
}

.main-header .title p {
  margin: 0;
  font-size: 0.9rem;
}

/* Seccion de logout  */
.main-header .logout {
  text-align: right;
}

.main-header .logout i {
  font-size: 1.5rem;
  cursor: pointer;
  display: inline-block;
}

/* responsividad */
@media (max-width: 768px) {
  .main-header {
    flex-direction: column;
    text-align: center;
    padding: 15px;
  }

  .main-header .logo img {
    height: 50px;
    margin-bottom: 10px;
  }

  .main-header .title h1 {
    font-size: 1.1rem;
  }

  .main-header .title p {
    font-size: 0.85rem;
  }

  .main-header .logout {
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .main-header .title h1 {
    font-size: 1rem;
  }

  .main-header .title p {
    font-size: 0.8rem;
  }

  .main-header .logo img {
    height: 45px;
  }
}
