/*css\base\variables.css*/

:root {
    --color-verde-uabc: rgb(0, 102, 51);
    --color-dorado-uabc: rgb(249, 178, 51);
    --color-dorado-hover: #e5a322;
    --color-fondo: #f4f4f4;
    --color-texto: #333;
    --color-blanco: #ffffff;
    --color-gris-claro: #ccc;
    --sombra-general: 0 4px 8px rgba(0,0,0,0.1);
    --borde-redondeado: 10px;
}